.app-detail{
    display: flex;
    max-width: 1200px;
    margin: 30px auto;
}
.details-product-single{
    display: flex;
    height: 400px;
    padding-bottom: 30px;
    border-bottom: 1px solid #CCCCCC;
    .details-img-product{
        display: flex;
        height: 374px;
        .small-image-product{
            padding: 0 15px 0 0;
            .details-thumbnail-item{
                margin-bottom: 5px;
                padding: 0;
            }
        }
    }
    .box-detail{
        padding-left: 30px;
    }
    .box-detail{
        width: 374px;
        height: 227px;
        .row{
            h2{
                font-size: 24px;
                font-weight: 700;
                color: #333333;
            }
            span{
                font-size: 28px;
                font-weight: 700;
                color: #ffc800;
            }
            .infor-details{
                margin-bottom: 15px;
                color: #333333;
                font-size: 14px;
                font-weight: 400;
            }
            
        }
        .details-cart{
                width: 100%;
                border-radius: 2px;
                background: #ffc800;
                padding: 15px;
                span{
                    color: white;
                    font-size: 18px;
                    font-weight: bold;
                    text-transform: uppercase;
                }                
            }
        .detail-title-infor{
            display: flex;
            margin-bottom: 15px;
            p{
                width: 75px;
                margin: auto 0;
                padding-right: 15px;
                font-size: 14px;
                font-weight: bold;
            }
            .select-details{
                width: 178px;
                height: 26px;
                border: 1px solid #f4f4f4;
                color: #999;
            }
            .number-product{
                text-align: center;
                max-width: 100px;
                height: 26px;
                width: 100%;
                span{
                    padding: 7px;
                    border: 1px solid #f4f4f4;   
                }
                button{
                    margin: 0 auto;
                    color: #333333;
                    border: 1px solid #f4f4f4;
                    border-radius: 0px;
                }
            }
        }
    }
    .detail-infor-ship{
        display: block;
        padding-left: 30px;
        width: 270px;
        height: 470.6px;
        .infor-ship-all{
            border: 1px solid #f4f4f4;
            .first{
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 700;
                padding: 15px;
                border-bottom: 1px solid #f4f4f4;
            }
            .border-ship{
                padding: 5px 15px;
                display: block;
                .infor-ship{
                    display: flex;
                    padding-bottom: 5px;
                    img{
                        width: 40px;
                        height: 40px;
                    }
                    .infor-ship-2{
                        display: block;
                        padding-left: 5px;
                        width: 195px;
                        .two{
                            text-transform: uppercase;
                            font-weight: 700;
                            margin: 0;
                        }
                        .three{
                            font-weight: normal;
                            display: block;
                    }
                    }
                }

            }
        }

    }
}
