@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

html {
  height: 100vh;
  overflow-x: hidden;
}

body {
  margin: 0;
}

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}

/*  */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  background: none;
  border: none;
}

.input-group {
  position: relative;
  display: flex;
  width: 100%;
  margin: 0 auto;

  input {
    flex-grow: 1;
    vertical-align: middle;
    padding: 0 15px;
  }
  button {
    font-size: 2.4rem;
    padding: 0 12px;

    i {
      transform: translateY(-50%);
    }
  }
}

// meta menu

.meta-menu li {
  display: inline-block;
  padding: 12px;
  border-radius: 50%;
  background-color: #ffc800;
  margin: 0 8px;
}

/* menu */
.navbar {
  background-color: #000;
  text-align: center;
  width: 100%;
}
.site-nav li {
  position: relative;
  display: inline-block;
  padding: 0 12px;
  line-height: 40px;

  a {
    font-size: 1rem;
    color: #ffffff;
    text-transform: capitalize;
    padding: 5px 0;
    display: inline-block;
    &:hover {
      color: #ffc800;
    }
  }
}

.site-nav .active a {
  color: #ffc800;
}

.dropdown-menu {
  position: relative;
}
.dropdown-menu > ul {
  position: absolute;
  margin: 0;
  min-width: 220px;
  top: 100%;
  left: 0px;
  transition: all 0.3s;
  transform: translateY(30px);
  display: none;
  background: #000;
  z-index: 10;
}
.dropdown-menu > ul > li {
  text-align: left;
  width: 100%;
}
.dropdown-menu > ul > li a {
  width: 100%;
}
.dropdown-menu--lv2 > ul {
  top: 0;
  left: 100%;
}
.dropdown-menu:hover > ul {
  transform: translateY(0);
  display: block;
}

li a i {
  margin-left: 5px;
}

.col-3 {
  column-count: 3;
  width: 300%;
}

.thumbnail {
  img {
    width: 100%;
  }
}

// mobile menu
.mobie-nav {
  display: none;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;

  .mobile-menu-btn,
  .mobile-cart-btn {
    color: #333;
    padding: 25px 15px 15px 15px;
    i {
      font-size: 1.8rem;
    }
  }
}

// home collection
.home-collection {
  padding: 30px 0;

  .home-collection-thumbnail {
    a {
      img {
        overflow: hidden;
        transition: all 0.3s;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 30px;
  height: fit-content;
}

.home-section-header {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  h2 {
    font-size: 1.6rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -10px;
      margin: auto;
      width: 100px;
      height: 1px;
      background: #cccccc;
      display: inline-block;
    }
  }
}

//home policy

.home-policy {
  padding-bottom: 30px;

  .policy-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 30px;

    .policy-item {
      padding: 10px;
      border: double 4px #f4f4f4;
      text-align: center;
      transition: all 0.3s;
      &:hover {
        border-color: #222;
      }

      .policy-icon {
        margin-bottom: 5px;
      }
      .policy-title {
        margin-bottom: 5px;
        text-transform: uppercase;
        font-weight: bold;
      }
      .policy-desc {
        color: #333;
      }
    }
  }
}

// home banner

.home-banner {
  padding-bottom: 30px;
  .banner-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "img1 img3 img2";
    gap: 30px;
    .banner-item {
      overflow: hidden;

      a {
        img {
          transition: all 0.3s;
        }
      }

      &:hover {
        a {
          img {
            transform: scale(1.05);
          }
        }
      }
      &:nth-child(1) {
        grid-area: img1;
      }

      &:nth-child(2) {
        grid-area: img2;
      }

      &:nth-child(3) {
        grid-area: img3;
      }
    }
  }
}
///home features
.home-featured {
  padding-bottom: 30px;
}
.home-featured-products {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0 15px;
}
.btnViewMore {
  display: inline-block;
  color: #333333;
  padding: 6px 20px;
  background: #fff;
  border: 1px solid #f4f4f4;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

.product-item {
  margin: 5px 5px 30px 5px;
  text-align: center;
  .product-img {
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    a {
      img {
        transition: all 0.3s;
        border-radius: 2px;
      }
    }

    .product-actions {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 15px;

      .btn-controls {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        background: #fff;
        color: #000;
        border-radius: 2px;
        text-transform: uppercase;
        font-weight: bold;
        opacity: 0;
        transition: all 0.3s ease-in;
        z-index: 1;
        &:hover {
          background-color: #ffc800;
        }
      }
      .btnQuickView {
        width: 40px;
        margin-right: 5px;
        padding: 0px;
        transform: translateX(-50px);
      }
      .btnBuyNow {
        padding: 0px 15px;
        margin-right: 5px;
        transform: translateY(50px);
      }
      .btnAddToCart {
        width: 40px;
        padding: 0px;
        transform: translateX(50px);
      }
    }

    .discount-tag {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      padding: 3px 5px;
      background: #ffc800;
      color: #fff;
      text-align: center;
    }
  }
  .product-title {
    padding: 0px 5px;
    height: 24px;
    a {
      color: #333;
    }
  }
  .product-price {
    padding: 0px 5px 5px 5px;
    span {
      font-weight: 600;
    }
    .current-price {
      color: #ffc800;
      margin-right: 5px;
    }
    .original-price {
      color: #999;
    }
  }
  &:hover {
    .product-img {
      img {
        transform: scale(1.05);
      }
      .product-actions {
        .btn-controls {
          transform: translate(0px) !important;
          opacity: 1 !important;
          transition: all 0.3s ease-out;
        }
      }
    }
  }
}

// footer

footer {
  .foot-content {
    padding: 50px 0;
    background: url(//theme.hstatic.net/1000281383/1000535724/14/footer_bg.png?v=241);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .ft-bg-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background: rgba(0, 0, 0, 0.6);
    }

    .footer-grid {
      position: relative;
      z-index: 2;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: 30px 30px;
      grid-auto-flow: row;
    }
  }
}

.footer-grid-item {
  h3 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 1.2rem;
  }

  li {
    margin: 0px 0px 5px 0px;
    a {
      color: #fff;

      &:hover {
        color: #ffc800;
      }
    }
  }

  ul {
    div {
      margin-bottom: 5px;
      color: #fff;
      i {
        font-size: 1.2rem;
        margin-right: 5px;
      }
      a {
        color: #fff;
        &:hover {
          color: #ffc800;
        }
      }
    }

    p {
      color: #fff;
    }
  }

  .footer-subscribe {
    p {
      color: #fff;
      margin: 0 0 15px 0;
    }

    .subscribe-form {
      input {
        color: #333;
      }
      button {
        color: #fff;

        background-color: #333;

        &:hover {
          background-color: #222;
        }
      }
    }
  }

  .footer-social {
    .ft-social-network {
      a {
        display: inline-block;
        border: 1px solid #ffffff;
        border-radius: 0;
        font-family: "FontAwesome";
        color: #ffffff;
        margin-right: 5px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        padding: 0px;
        text-align: center;

        &:hover {
          color: #ffc800;
          border: 1px solid #ffc800;
        }
        i {
          margin-left: 5px;
        }
      }
    }
  }
}

.copyright {
  padding: 15px 0px;
  background: #000000;
  p {
    color: #666666;
    text-align: center;
    margin: 0;

    a {
      color: #666666;
      &:hover {
        color: #ffc800;
      }
    }
  }
}

@media only screen and (min-device-width: 425px) and (max-device-width: 768px) and (orientation: landscape) {
  .mobie-nav {
    display: flex;
  }
  .navbar {
    display: none;
  }

  .header-info {
    display: none;
  }

  .home-policy {
    .policy-grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
  }

  .home-banner {
    .banner-grid {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "img1 img2" "img3 img3";
    }
  }

  .home-featured-products {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 15px;
  }

  footer {
    .foot-content {
      .footer-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      }
    }
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 425px) and (orientation: landscape) {
  .mobie-nav {
    display: flex;
  }
  .navbar {
    display: none;
  }

  .header-info {
    display: none;
  }

  .home-policy {
    .policy-grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
  }

  footer {
    .foot-content {
      .footer-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      }
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 375px) and (orientation: landscape) {
  a {
    color: red;
  }
  .mobie-nav {
    display: flex;
  }
  .navbar {
    display: none;
  }

  .header-info {
    display: none;
  }
}

// @media only screen and (max-device-width: 320px) and (orientation: landscape) {
//   .mobie-nav {
//     display: flex;
//   }
//   .navbar {
//     display: none;
//   }

//   .header-info {
//     display: none;
//   }
//   footer {
//     .foot-content {
//       .grid {
//         .grid__item {
//           width: 100%;
//         }
//       }
//     }
//   }
// }

////////////////////////////////////////////////////////

////////////////////////////////////////////////////////
.tab-panel-content {
  width: 100%;
}

.tab-panel {
  margin-bottom: 30px;
  text-align: center;
  li {
    display: inline-block;
    margin-left: 5px;
    padding: 10px 15px;
    border: 1px solid #f4f4f4;
    transition: all 0.2s ease;
    cursor: pointer;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
  .tab-panel-selected {
    background-color: #000;
    color: #fff;
  }
}

////////product detai
.app {
  max-width: 1200px;
  width: 100%;
  margin: 100px auto;
  box-shadow: 0 0 5px #ccc;
}
.details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 0;
}
.details .big-img {
  max-width: 500px;
  min-width: 290px;
  overflow: hidden;
  margin: 25px;
}
.big-img img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  display: block;
  object-fit: cover;
}

.details .box {
  max-width: 500px;
  min-width: 290px;
  margin: 25px;
}
.box .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.box .row h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.box .row span {
  color: crimson;
}
.box .colors button {
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  outline: none;
  margin-right: 5px;
  cursor: pointer;
}
.box p {
  line-height: 1.5;
  margin: 15px 0;
}
.thumb {
  width: 100%;
  height: 100px;
  display: flex;
  cursor: pointer;
  margin: 10px 0;
}
.thumb img {
  width: 90px;
  height: 100%;
  display: block;
  object-fit: cover;
  border: 1px solid #ddd;
  margin-right: 5px;
  opacity: 0.7;
  border-radius: 5px;
}
.thumb img.active {
  opacity: 1;
  border: 1px solid lightseagreen;
}
.box .cart {
  background: #333;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  margin-top: 15px;
}

@media (max-width: 500px) {
  .thumb {
    height: 50px;
  }
  .thumb img {
    width: 50px;
  }
}
