.displayBlock {
    display: block;
}

.account-container {
    margin: auto;
    width: 380px;
    text-align: center;
    .account-header {
        h1 {
            color: #333333;
            padding: 0px 0px 15px 0px;
            margin: 0px 0px 15px 0px;
            border-bottom: 1px solid #cccccc;
            font-size: 1.7rem;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    .form-account {
        .form-control {
            padding: 10px 8px;
            border: 1px solid #f4f4f4;
            &:focus {
                border: 1px solid #b3b3b3;
                box-shadow: none;
            }
        }
        button {
            width: 100%;
            background-color: #2b2b2b;
            color: #fff;
            border: 0px;
            border-radius: 0;
            padding: 8px 10px;
            line-height: 1.42;
            font-weight: bold;
            &:hover {
                background-color: #1a1a1a;
            }
        }

        a {
            margin: 10px 0;
            color: #595959;
        }
    }
}

.row-profile {
    align-items: center;
}
