footer {
    .foot-content {
        padding: 50px 0;
        background: url(//theme.hstatic.net/1000281383/1000535724/14/footer_bg.png?v=241);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

        .ft-bg-overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            background: rgba(0, 0, 0, 0.6);
        }

        .footer-grid {
            position: relative;
            z-index: 2;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            gap: 30px 30px;
            grid-auto-flow: row;
        }
    }
}

.footer-grid-item {
    h3 {
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 15px;
        font-size: 1.2rem;
        font-weight: bold;
    }

    li {
        margin: 0px 0px 5px 0px;
        a {
            color: #fff;

            &:hover {
                color: #ffc800;
            }
        }
    }

    ul {
        div {
            margin-bottom: 5px;
            color: #fff;
            i {
                font-size: 1.2rem;
                margin-right: 5px;
            }
            a {
                color: #fff;
                &:hover {
                    color: #ffc800;
                }
            }
        }

        p {
            color: #fff;
        }
    }

    .footer-subscribe {
        p {
            color: #fff;
            margin: 0 0 15px 0;
        }

        .subscribe-form {
            position: relative;
            display: flex;
            width: 100%;
            margin: 0 auto;

            input {
                color: #333;
                padding: 8px;
            }
            button {
                color: #fff;
                width: 40.8px;
                border: none;
                background-color: #333;

                &:hover {
                    background-color: #222;
                }
            }
        }
    }

    .footer-social {
        .ft-social-network {
            a {
                display: inline-block;
                border: 1px solid #ffffff;
                border-radius: 0;
                font-family: "FontAwesome";
                color: #ffffff;
                margin-right: 5px;
                height: 40px;
                width: 40px;
                line-height: 40px;
                padding: 0px;
                text-align: center;

                &:hover {
                    color: #ffc800;
                    border: 1px solid #ffc800;
                }
                i {
                    margin-left: 5px;
                }
            }
        }
    }
}

.copyright {
    padding: 15px 0px;
    background: #000000;
    p {
        color: #666666;
        text-align: center;
        margin: 0;

        a {
            color: #666666;
            &:hover {
                color: #ffc800;
            }
        }
    }
}
