@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import "./header.scss";
@import "./product.scss";
@import "./collection.scss";
@import "./detail.scss";
@import "./home.scss";
@import "./account.scss";
@import "./cart.scss";
@import "./footer.scss";
@import "./support.scss";

* {
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

html {
  overflow-x: hidden;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0 !important;
}

/*  */

.page-header {
  h1 {
    color: #333333;
    padding: 0px 0px 15px 0px;
    margin: 0px 0px 15px 0px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
  }
}
ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

a {
  text-decoration: none !important;
}
p {
  padding: 0;
  margin: 0;
}

// footer

@media only screen and (min-device-width: 425px) and (max-device-width: 768px) and (orientation: landscape) {
  .mobie-nav {
    display: flex;
  }
  .navbar {
    display: none;
  }

  .header-info {
    display: none;
  }

  .home-policy {
    .policy-grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
  }

  .home-banner {
    .banner-grid {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "img1 img2" "img3 img3";
    }
  }

  .home-featured-products {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 15px;
  }

  footer {
    .foot-content {
      .footer-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      }
    }
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 425px) and (orientation: landscape) {
  .mobie-nav {
    display: flex;
  }
  .navbar {
    display: none;
  }

  .header-info {
    display: none;
  }

  .home-policy {
    .policy-grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
  }

  footer {
    .foot-content {
      .footer-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      }
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 375px) and (orientation: landscape) {
  a {
    color: red;
  }
  .mobie-nav {
    display: flex;
  }
  .navbar {
    display: none;
  }

  .header-info {
    display: none;
  }
}

// @media only screen and (max-device-width: 320px) and (orientation: landscape) {
//   .mobie-nav {
//     display: flex;
//   }
//   .navbar {
//     display: none;
//   }

//   .header-info {
//     display: none;
//   }
//   footer {
//     .foot-content {
//       .grid {
//         .grid__item {
//           width: 100%;
//         }
//       }
//     }
//   }
// }

////////////////////////////////////////////////////////

////////////////////////////////////////////////////////
.tab-panel-content {
  margin-top: 30px;
  width: 100%;
}

.featured-tab-panel {
  text-align: center;
  li {
    margin-left: 5px;
    padding: 10px 15px;
    border: 1px solid #f4f4f4;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    transition: all 0.2s ease;
    cursor: pointer;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
  .featured-tab-panel-selected {
    background-color: #000;
    color: #fff;
  }
}

.detail-tab-panel {
  li {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px 0;
    margin-right: 15px;
    border-bottom: 3px solid #fafafa;
    cursor: pointer;
  }

  .detail-tab-panel-selected {
    border-bottom: 3px solid #333333;
  }
}

///pralax
.prallax-scrolling {
  height: 300px;
  height: 300px;
  padding: 30px 0;
  margin-bottom: 30px;
  background: url("https://res.cloudinary.com/beeyou/image/upload/v1636949819/banner/breadcrumb_bg_bdhxoa.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;

  .prallax-scrolling-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}

.change-qty {
  input {
    text-align: center;
    width: 30px;
  }
}

///loading
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

///button-on-top
.scroll-top {
  position: fixed;
  bottom: 50px;
  left: 30px;
  z-index: 99999;

  i {
    font-size: 18px;
  }
}

///pagination
.my-pagination {
  padding-bottom: 30px;
  .pagination {
    .page-item {
      margin: 0 5px;
      .page-link {
        border: none;
        color: #333;
        font-weight: bold;
        border-radius: 2px;
        background-color: #fff;

        &:hover {
          color: #fff;
          background-color: #000;
          border-radius: 2px;
        }
        &:focus {
          box-shadow: none;
        }
      }
    }

    .active {
      .page-link {
        color: #fff;
        background-color: #ffc800;
        border-radius: 2px;
        &:hover {
          color: #fff;
          background-color: #ffc800;
        }
      }
    }
  }
}

//404

.gif {
  display: flex;
  justify-content: center;
}

.pagenotfound-content {
  text-align: center;
  margin: 3rem 0;
}

.pagenotfound-content .main-heading {
  font-size: 2.5rem;
  font-weight: 700;
}
.pagenotfound-content p {
  font-size: 1.3rem;
  padding: 0.7rem 0;
}

.btn-404 {
  padding: 1rem;
  border-radius: 15px;
  font-size: 14px;
  outline: none;
  border: none;
  background: #333333;
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}

//css header order
.wrapper {
  .col-information-order {
    margin-left: 0px;
    margin-right: 0px;

    div {
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 1px;
      text-align: center;
      font-weight: bold;
    }
    .col-left {
      margin-left: -4.5px;
    }
  }
  .accordion-item {
    .information-order {
      text-align: center;
    }
    .col-status {
      color: #ffc021;
    }
  }
}

//css body order details
.details-order {
  .details-order-header {
    margin-bottom: 13px;
    span {
      font-weight: 600;
      line-height: 2;
    }
  }
  .table-details-product-order {
    margin-top: 25px;
    text-align: center;
  }
}
