.support-detail {
    padding-bottom: 15px;
    border-bottom: 1.5px solid #d1d1d1;
    margin-bottom: 20px;
    h1{
        text-transform: uppercase;
        font-size: 24px;
        font-weight:bold;
    }
}
.support-infor{
    margin-bottom: 20px;
    h2{
        font-size: 20px;
        margin: 20px 0;
        font-weight: bold;
    }
    h3{
        font-size: 14px;
        margin: 10px 0;
        font-weight: 400;
    }
    ul {
        list-style-type: upper;
        font-weight: bold;
        
    }
    h4 {
        font-size: 14px;
        margin: 10px 0;
        font-weight: bold;
    }
    h5 {
        font-size: 14px;
        margin: 10px 0;
        font-weight: bold;
        font-style: italic;
    }
    h6 {
        font-size: 14px;
        margin: 20px 0;
        font-weight: 400;
    }
}